.scroll-arrow {
  position: fixed;
  bottom: 20px;
  right: 2%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 999;
}

.scroll-arrow.show {
  opacity: 1;
}

.scroll-arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-left: 4px solid #f7f2f2;
  border-bottom: 4px solid #f7f3f3; 
  transform: rotate(135deg);
  margin-bottom: 2px;
  animation: animate 2s infinite;
  z-index: 999;

}

.scroll-arrow span:nth-child(2) {
  width: 30px;
  height: 30px;
  animation-delay: -0.2s;

}

.scroll-arrow span:nth-child(3) {
  width: 30px;
  height: 30px;
  transform: rotate(135deg);
  animation-delay: -0.4s;

}



@keyframes animate {

  0% {
      opacity: 0;
      transform: rotate(130deg) translate(0px, -20px,0px, -20px);
      border-left: 2px solid blue;
      border-bottom: 2px solid blue; 
    }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
      transform: rotate(130deg) translate(0px,20px,0px, 20px);
      border-left: 2px solid #f3f3f1;
      border-bottom: 2px solid #f3f3f1; 
  }
}
